<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tech Blog</a></h1>
        </header>
        {% for post in posts %}
            {{ post }}
        {% endfor %}

        {{ posts }}
            <time>published: 14.02.2023, 12:14</time>
            <h2><a href="">Rock Paper Scissors in Python</a></h2>
            <h3>A Step-by-Step Guide to implement ‘Rock Paper Scissors’ in Python</h3>
            <p>Rock Paper Scissors is a fun game, played between two players. Each player picks 
                one option either rock, paper, or scissors. And the one who picks the right 
                option wins. The winner is determined by three simple rules.

                Here are the rules of the game:
                
                Rock beats Scissors
                Paper beats Rock
                Scissors beat paper.

                So according to the rules, if you choose rock, and the other player chooses 
                scissors, or you choose paper, and the other player chooses rock, or you choose 
                scissors, and the other player chooses paper, then you will win the game.
                
                But if the opposite is the case then the other player wins. The match will be 
                drawn if both choose the same option.
            </p>
        {{ posts }}

        {{ posts }}
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">The art of problem-solving in code</a></h2>
            <h3>A three-step guide to developing a problem-solving approach </h3>
            <p>Problem-solving is always an important part of a programmer’s life. If you are a 
                software developer, machine learning engineer, or data scientist and deal with 
                programming and software products, then you must understand what 
                problem-solving is and how to approach solving any particular problem.

                Why problem-solving matters?
                Having a problem-solving mindset can be beneficial in many ways. It can help you 
                clear coding interview problems, solve issues in your projects, or collaborate on 
                open-source projects with a greater understanding of the problem.
                
                Problem-solving isn’t only about solving small problems for interviews; it is 
                also helpful in building bigger websites that consist of large amounts of code, 
                which is constructed by taking one step at a time..</p>
        {{ posts }}
    </body>
</html>