<!DOCTYPE html>
<html>
    <head>
        <title>Django  Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 14.02.2023, 12:14</time>
            <h2><a href="">First post</a></h2>
            <p>Firs article about Rock Paper Scissors in Python. Rock Paper Scissors is a fun game played
                between three players. I implemented it in Python to improve my Python knowledge and writing 
                skills.
            </p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Save each amount as a variable. Then solve the problem in Maths.
                Now you can implement coding which seems easy at this stage.</p>
        </article>
    </body>
</html>